* {
  font-family: "Padauk", sans-serif;
}
a {
  text-decoration: none;
}
/* Styles for Home*/
.body-home {
  overflow: hidden;
}

.img-home {
  position: absolute;
  width: 947px;
  height: 704px;
  left: 796px;
  top: 107px;

  background: url(../images/414.jpg);
  background-size: 70em 45em;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  border-radius: 224px;
}

.home-title {
  position: absolute;
  width: 599px;
  height: 130px;
  left: 94px;
  top: 244px;

  font-family: Padauk;
  font-style: normal;
  font-weight: bold;
  font-size: 78px;
  line-height: 1em;

  /* or 36% */
  display: flex;
  align-items: center;
  letter-spacing: 1.25px;
  font-feature-settings: "kern" off, "clig" off;

  color: #726ae4;

  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
}

.p-home {
  position: absolute;
  width: 582px;
  left: 94px;
  top: 386px;

  font-family: Padauk;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1em;

  /* or 71% */
  display: flex;
  align-items: center;
  letter-spacing: 1.25px;

  color: #000000;
  padding-top: 1rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-home {
  position: absolute;
  width: 116.79rem;
  height: 8.625rem;
  left: 0px;
  top: 49.59em;
  background: rgba(204, 204, 204, 0.15);
}

.button-home {
  position: absolute;
  width: 250px;
  height: 84px;
  left: 10.0625rem;
  top: 34.9375rem;

  background: #7872ea;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);
  border-radius: 90px;
  z-index: -1;
}

.text-button-home {
  position: absolute;
  top: 02rem;
  left: 3.2rem;
  width: 180px;
  height: 25px;

  font-family: Padauk;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-decoration: none !important;
  line-height: 23px;

  /* or 57% */
  letter-spacing: 1.25px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .header-chat {
  width: 100%;
  height: 20%;
  left: 0px;
  top: 0px;
  background: rgba(250, 250, 250, 0.5);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

.header-chat h2 {
  position: absolute;
  margin-left: 38%;
  padding-top: 20px;
}

.header-chat > img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin-left: 90%;
}

.footer-chat {
  width: 100%;
  height: 80px;
  background: #fafafa;
}

.footer-chat > input {
  position: absolute;
  width: 1157px;
  height: 50px;
  margin-left: 5%;
  margin-top: 20px;
  border-radius: 5px;
}

.header-chat > button {
  position: absolute;
  background-image: url(../images/flecha.png);
  background-size: 50px, 50px;
  border: none;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-position: center;
  margin-left: 5%;
  margin-top: 20px;
}

.footer-chat > button {
  position: absolute;
  background-image: url(../images/enviar.png);
  background-size: 50px, 50px;
  border: none;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-position: center;
  margin-left: 85%;
  margin-top: 20px;
}

.messages {
  width: 100%;
  min-height: 600px;
}

/*Styles for login: */

.main-container {
  display: flex;
  width: 100%;
  overflow: -moz-hidden-unscrollable;
}

.container-left {
  flex-direction: row;
  width: 60%;
}

.container-rigth {
  flex-direction: row;
  width: 40%;
  position: absolute;
  height: 1047px;
  top: 0px;
  border: 1px solid black;
  background: #fafafa;
  border: 0.2px solid #c9eeff;
  filter: blur(15px);
  border-radius: 31px;
}

.image-login {
  position: absolute;
  width: 55rem;
  height: 726px;
  left: 8rem;
  top: 10rem;

  margin-top: 1.2rem;
  background: url("../images/10610.jpg");
  background-size: 55em 45em;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.25));
  border-radius: 121px;
}

.button-login {
  position: absolute;
  width: 250px;
  height: 84px;
  top: 500px;
  right: 14rem;

  background: #7872ea;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);
  border-radius: 90px;
  font-size: 2rem !important;
  color: #ffffff !important;
}
button:hover {
  color: black;
}
.form-login {
  position: absolute;
  width: 30% !important;
  top: 232px;
  right: 2.5rem;
}

.general-letter {
  font-family: Padauk;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.letter {
  font-size: 25px;
  line-height: 12px;
  color: #000000;
}

.main-tittle {
  font-size: 40px;
  line-height: 12px;
  margin-bottom: 1.5rem;
  color: #000000;
}

.tittle-login {
  position: absolute;
  left: 390px;
  top: 71px;
  text-align: center;
  mix-blend-mode: darken;
  text-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
}

.text-invitation {
  position: absolute;
  top: 700px;
  right: 11rem;
  text-align: center;
}
.gray-div {
  position: absolute;
  width: 43rem;
  right: 0rem;
  height: 58rem;
  top: 0px;

  background: #fafafa;
  border: 0.2px solid #c9eeff;
  filter: blur(15px);
  border-radius: 31px;
}
.form-control {
  margin-top: 8px;
  font-size: 19.5px;
  width: 530px;
  height: 50px;
  background: #ffffff;
  border: 0.02px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

/* Styles for Register */
input:password {
  font-size: 5px;
}
.image-register {
  position: absolute;
  width: 55rem;
  height: 726px;
  left: 8rem;
  top: 10rem;

  margin-top: 1.2rem;
  background: url("../images/415.jpg");
  background-size: 55em 45em;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.25));
  border-radius: 121px;
}

.button-register {
  position: absolute;
  width: 250px;
  height: 84px;
  top: 710px;
  right: 14rem;

  background: #7872ea;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);
  border-radius: 90px;
  font-size: 2rem !important;
  color: #ffffff !important;
}
.register-form {
  position: absolute;
  top: 0px;
}
.form-control-register {
  margin-top: 8px;
  font-size: 19.5px;
  width: 530px;
  height: 50px;
  background: #ffffff;
  border: 0.02px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.text-invitation-register {
  position: absolute;
  top: 830px;
  right: 11rem;
  text-align: center;
}
input {
  width: 250px;
  padding: 8px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
