.main{
    width: 100%;
    height:1000px;
    padding: 2%;
    background-image: url(https://i.pinimg.com/originals/19/92/f4/1992f42e0662a1f7c1adbcc76444c648.png);
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center;

}

.items-center{
    justify-content: center;
    align-items: center;
    
}
body{
    overflow: -moz-hidden-unscrollable;
}

.form-login{
    margin-left: auto;
    margin-right: auto;
}

.login{
    background-color: rgb(132, 200, 255);
    border-radius: 5%;
    width: 40%;
    height: 100%;
    padding: 5%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    
}

.button{
    margin-left: 10px;
    margin-right: 10px;
}

.header-chat{
    width: 100%;
    height: 20%;
    left: 0px;
    top: 0px;
    background: rgba(250, 250, 250, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-chat h2{
    position: absolute;
    margin-left: 38%;
    padding-top: 20px;
}

.header-chat > img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-left: 90%;
}

.footer-chat{
    width: 100%;
    height: 80px;
    background: #FAFAFA;
}

.footer-chat > input{
    position: absolute;
    width: 1157px;
    height: 50px;
    margin-left:  5%;
    margin-top:  20px;
    border-radius: 5px;
}

.header-chat > button{
    position: absolute;
    background-image:url(../images/flecha.png);
    background-size: 50px, 50px;
    border: none;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    background-position:center;
    margin-left: 5%;
    margin-top: 20px;
}

.footer-chat > button{
    position: absolute;
    background-image:url(../images/enviar.png);
    background-size: 50px, 50px;
    border: none;
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    background-position:center;
    margin-left: 85%;
    margin-top: 20px;
}

.messages{
    width: 100%;
    min-height: 600px;
}